@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: #fff;
    
}

h2 {
    font-size: 60px;
    margin: 20px 0px;
}

h3 {
    margin-bottom: 20px;
}
h4 {
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bg-red {
    background-color: #c91a29;
    color: #fff;
}
.red {
   color: #c91a29 ;
}

button {
    margin: 20px 0px;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    font-weight: 700;
}



/* nav */


nav {
    margin: 30px 60px;
    font-weight: 600;

}
nav ul {
    width: 70vw;
    list-style: none;
    gap: 8vw;
    flex-wrap: wrap;
}


/* intro section */
.intro {
    margin: 20px 60px;
}

.intro-left {
    width: 40vw;
}

.intro-right {
    margin-top: 100px;
    align-self: flex-start;
    width: 45vw;
}
   

/* service section */

.service {
    padding: 70px 60px;
    width: 100vw;
    background: linear-gradient(to left, #111111 50% , #181919 50%);
}

/* service-cards */


.service-cards {
    height: 100%;
    width: 100%;
    /* text-align: center; */
}

.card-item {
    padding: 30px;
    height: 100%;
    /* width: 300px; */
    background-color: #1f1f1e;
    max-width: 32%;
   
}

.card-item.bg-red {
    background-color: #c91a29;
}

.size {
    margin-bottom: 30px;
}

/* service-stats */

.service-stats {
    width: 100%;
    margin-top: 40px;
    height: 45vh;

}

.left-stats {
    text-align: center;
    width: 32% ;
}

.left-stats h2 {
    font-size: 100px;
    margin-bottom: 0px;
}

.right-stats {
    text-align: center;
    height: 100%;
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.stats {
    height: 100%;
    width: 100%;
    background-color: #1f1f1e;
    flex-basis: 50%;
    flex-grow: 1;
}

/* feature */

.featured {
    margin: 80px 80px;
}

/* feature intro */



/* feature project */

.featured-projects {
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}
.feature-posts {
    /* background-color: #c91a29; */
    width: 400px;
    height: 320px;

}

.img-bg {
    width: 100%;
    height: 85%;
    background-color: #181919;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-bg img{
    width: 80%;
    object-fit: cover;

}

/* outro sectiopn */
.outro-message {
    margin: 60px 60px;
    background-color: #181919;
    padding: 40px 20px;
}

.left-outro {
    width: 65%;
}

.left-outro h2 {
    font-size: 45px;
}

.right-outro {
    width: 30%;
}


/* above-footer */
.above-footer {
    justify-content: center;
    
}

.above-footer li {
    gap: 20px;
    list-style: none;
    margin-bottom: 20px;
}

/* footer */
footer {
    padding: 40px 60px;
    background-color: #181919;
}

.footer-logo {
    width: 40%;
}
.social-media {
    width: 55%;
    justify-content: flex-start;
    gap: 20px;

}


@media screen and (max-width:768px) {

    .intro-left {
        width: 80%;
    }
    
    .intro-right {
        margin-top: 100px;
        align-self: flex-start;
        width: 100%;
    }

    .service-cards {
        justify-content: space-evenly;
        gap: 40px;
    }

    .card-item {
        max-width: 280px;
    }

    .left-stats {
        text-align: center;
        width: 200px ;
    }

    .right-stats {
        width: auto;
    }

    .service-stats {
        height: auto;
        justify-content: space-around;
    }

   

    .featured-projects {
        width: 100%;
        height: auto;
    }

    .feature-posts {
        width: 100%;
        height: 40vh;
    
    }

    .outro-message {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-outro {
        width: 100%;
    }

    .img-bg {
        height: auto;
    }
    .img-bg img{
        width: 80%;
        object-fit: cover;
    
    }
}